# Retry
## Variables need to be set in the toolchain so that we can fetch the activation status of a cloud function invocation by its activation ID, and then depending on the results:
CLOUD_FUNCTIONS_REST_ENDPOINT
CLOUD_FUNCTIONS_REST_USERNAME
CLOUD_FUNCTIONS_REST_PASSWORD
CLOUD_FUNCTIONS_NAMESPACE
CLOUD_FUNCTIONS_IS_IAM
CLOUD_FUNCTIONS_API_KEY
IDENTITY_TOKEN_REST_ENDPOINT
CLOUD_FUNCTIONS_NAMESACE_GUID
MESSAGES_LOGS_PERSISTENCE_DAYS
## Credentials for the Mongo instance that stores messages that might need to be retried/DLQed:
MESSAGES_MONGO_URI
MESSAGES_MONGO_CERTIFICATE_BASE64
## Kafka instance credentials, so that we can requeue the messages that are stored in the Mongo retry collection by sending them into their corresponding topics on Kafka:
KAFKA_BROKERS e.g. `kafka02-prod02.messagehub.services.us-south.bluemix.net:9093,kafka05-prod02.messagehub.services.us-south.bluemix.net:9093,kafka04-prod02.messagehub.services.us-south.bluemix.net:9093,kafka01-prod02.messagehub.services.us-south.bluemix.net:9093,kafka03-prod02.messagehub.services.us-south.bluemix.net:9093`
KAFKA_USERNAME
KAFKA_PASSWORD
## Configurations
### Maximum retries for a failed message before moving it to DLQ collection
MAX_RETRIES
### Threshold for persisting messages before they are deleted
MESSAGES_LOGS_PERSISTENCE_DAYS
