# Kafka Connect Monitoring Configuration

# Note: We are using Containerized apps with Ingress: https://cloud.ibm.com/docs/appid?topic=appid-kube-auth
# e.g. for staging i.e. myplanet-platform-dev refer to PlatformStagingServicesAppID instance
# from the service credentials, clientId is username, secret is password and tentnt is tentnt

# Note: To get Kubernetes HOST  run 'ks cluster config --cluster {clusterId}',
# e.g. 'ks cluster config --cluster ca8fde98848b49b591d26783c5efc448' for staging i.e. myplanet-platform-dev which is staging,
# then 'kubectl get ingresses'.
# To get PATH_START run `kubectl describe ingress {ingressName}`.

# Note: Our Kubernetes clusters are not named properly: 'myplanet-platform-development' is development,
# but 'myplanet-platform-dev' is staging and 'myplanet-platform-staging' is production

# Note: To get PATH_START

KUBE_STAGING_USERNAME=
KUBE_STAGING_PASSWORD=
KUBE_STAGING_TENANT=
KUBE_STAGING_HOST=myplanet-cluster-dev.tor01.containers.appdomain.cloud
KUBE_DEVELOPMENT_PATH_START=kafka-connect 

KUBE_DEVELOPMENT_USERNAME=
KUBE_DEVELOPMENT_PASSWORD=
KUBE_DEVELOPMENT_TENANT=
KUBE_DEVELOPMENT_HOST=myplanet-platform-devel-d4712d36445d3dca407a41b2c9f18ee0-0000.tor01.containers.appdomain.cloud
KUBE_STAGING_PATH_START=kafka-connect 

KUBE_PRODUCTION_USERNAME=469ea1f5-1a33-4771-b745-7ba58b91f328
KUBE_PRODUCTION_PASSWORD=YjE5NGYwOWUtMjg2MC00ZjFiLTgxZjEtOTM4ZTk0M2U1NWMz
KUBE_PRODUCTION_TENANT=cd7a774a-8592-4df0-a5ee-f8e31109cc82
KUBE_PRODUCTION_HOST=myplanet-platform-cluste.tor01.containers.appdomain.cloud
KUBE_PRODUCTION_PATH_START=kafka-connect

# Binding Monitoring Configuration
BINDING_URL_DEVELOPMENT="https://hr-eventstreams-cloudfunctions-binding-development.mybluemix.net"
BINDING_AUTHORIZATION_DEVELOPMENT=
BINDING_URL_STAGING="https://hr-eventstreams-cloudfunctions-binding-staging.mybluemix.net"
BINDING_AUTHORIZATION_STAGING=
BINDING_URL_PRODUCTION="https://hr-eventstreams-cloudfunctions-binding-production.mybluemix.net"
BINDING_AUTHORIZATION_PRODUCTION=

# UI authorization key
AUTHORIZATION=
